<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="serv/css/style.css">
    <script src="https://kit.fontawesome.com/ea8060e81f.js" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAM70X4aWVEis2qxQm4mX04q-RUTB29McM">
    </script>
    
    <title>Groupie</title>
</head>

<body>
    <nav class="navbar">
        <form action="/" method="post">
            <input class="logo" name="reload" type="submit" value="Groupie-Tracker">
        </form>
        
        <div class="search">
            <input type="search" class="search-bar" placeholder="Search for ..." id="search" >
            <i class="fa-solid fa-magnifying-glass" onclick="search()"></i>
        </div>
        
        <script type="text/javascript">
            function search() {
                window.location.href = "http://localhost:8080/?search=" + document.getElementById('search').value;
            }
        </script>
        
    </nav>
    <header></header>

    <div class="open-filter" onclick="openFilter()" id="open-filter">
        <span>Filter&nbsp</span>
        <i class="fa-solid fa-caret-down"></i>
    </div>
    <script type="text/javascript">
        function openFilter() {
            document.getElementById("filter").classList.remove("none");
            document.getElementById("open-filter").classList.add("none");
        }
    </script>

    <div class="filter none" id="filter">
        <form action="/" method="post">

            <div>
                <span>Filters :</span>
            </div>
            

            <div>
                <span>First album date :&nbsp</span>
                <input type="checkbox" name="album-date-filter" onclick="filterAlbumDate()" id="album-date-filter">
                <input type="range" id="range-input" name="album-date" value="{{ .Info.MinAlbumDate }}" min="{{ .Info.MinAlbumDate }}" max="{{ .Info.MaxAlbumDate }}" step="1" onchange="rangeSlide(this.value)" onmousemove="rangeSlide(this.value)" disabled>
                <span id="range-value">{{ .Info.MinAlbumDate }}&nbsp</span>
                <script type="text/javascript">
                    function rangeSlide(value) {
                        document.getElementById('range-value').innerHTML = value;
                    }
                    function filterAlbumDate() {
                        if (!document.getElementById('album-date-filter').checked) {
                            document.getElementById('range-input').disabled = true;
                        } else {
                            document.getElementById('range-input').disabled = false;
                        }
                    }
                </script>
            </div>

            <div>
                <span>Creation date :&nbsp</span>
                <input type="checkbox" name="album-date-filter-creation" onclick="filterAlbumDate()" id="album-date-filter-creation">
                <input type="range" id="range-input-creation" name="album-date-creation" value="{{ .Info.MinCreationDate }}" min="{{ .Info.MinCreationDate }}" max="{{ .Info.MaxCreationDate }}" step="1" onchange="rangeSlide(this.value)" onmousemove="rangeSlide(this.value)" disabled>
                <span id="range-value-creation">{{ .Info.MinCreationDate }}&nbsp</span>
                <script type="text/javascript">
                    function rangeSlide(value) {
                        document.getElementById('range-value-creation').innerHTML = value;
                    }
                    function filterAlbumDate() {
                        if (!document.getElementById('album-date-filter-creation').checked) {
                            document.getElementById('range-input-creation').disabled = true;
                        } else {
                            document.getElementById('range-input-creation').disabled = false;
                        }
                    }
                </script>
            </div>

            <div>
                <span>Number of Member : </span>
                {{ range .Info.MaxMemberNumberList }}
                <span class="member">
                    <span>{{ . }}&nbsp</span>
                    <input type="radio" value="{{ . }}" name="number-of-member" class="radio">
                </span>
                {{ end }} 
            </div>

            <div>
                <select name="location-filter">
                    <option value="">Concert Location</option>
                    {{ range .Info.ConcertLocations }}
                        <option value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
            </div>
            
            <div class="submit-filters">
                <input type="submit" value="Fliter" class="submit">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <select name="sorting">
                    <option value="">Sort by</option>
                    <option value="creation">Creation</option>
                    <option value="album">Album</option>
                    <option value="member">Member</option>
                </select>
            </div>

            <div class="close-filter" onclick="closeFilter()">
                <span>Close Filter&nbsp</span>
                <i class="fa-solid fa-caret-up"></i>
            </div>

        </form>
    </div>
    <script type="text/javascript">
        function closeFilter() {
            document.getElementById("open-filter").classList.remove("none");
            document.getElementById("filter").classList.add("none");
        }
    </script>

    <section class="body">
        <div class="container">
            {{ range .Artists }}
            <a href="/artist?artist={{ .Name }}">
                <div class="artist">
                    <p class="artist-name">{{ .Name }}</p>
                    <img src="{{ .Image }}" alt="">
                </div>
            </a>
            {{ end }}
        </div>
    </section>

    

    {{ if ne .Info.Country "" }}

        <div id="country" data-variable="{{ .Info.Country }}" ></div>

        <div id="map"></div>

        {{ range .Artists }}
            <div class="js-variable" data-variable="{{ .Name }}:{{ .Locations.Locations }}"></div>
            <div id="{{ .Name }}" style="display: none; justify-content: center; align-items: center;margin: 1px;">
                <img src="{{ .Image }}" alt="" style="height: 30px;width: 30px;margin-right: 10px;border-radius: 3px;">
                <span style="font-size: 15px;justify-content: center;">{{ .Name }}</span>
            </div>
        {{ end }}

        <script src="serv/js/MapIndex.js"></script>

    {{ end }}

    <footer>
        <small>&copy; 2024, Tom Fuster,  Jelko Mitroviche,  Raphaël Langoisco.  Tous droits réservés.</small>
    </footer>
    
</body>

</html>